@import url(//db.onlinewebfonts.com/c/2fed949d780f40eb2e2f4374e4de8df5?family=SF+Pro+Display);
@import url(//db.onlinewebfonts.com/c/49cf9e586b122fd8b8cf67c4df697fb9?family=SF+Pro+Rounded);
@import url(//db.onlinewebfonts.com/c/4b57277e89dfdd30c9a6b69acaf78d3a?family=SF+Pro);


@font-face {
    font-family: "SF Pro Display";
    src: url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.eot");
    src: url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.svg#SF Pro") format("svg");
}

@font-face {
    font-family: "SF Pro Display Thin";
    src: url("//db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.eot");
    src: url("//db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.svg#SF Pro Display") format("svg");
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("//db.onlinewebfonts.com/t/49cf9e586b122fd8b8cf67c4df697fb9.eot");
    src: url("//db.onlinewebfonts.com/t/49cf9e586b122fd8b8cf67c4df697fb9.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/49cf9e586b122fd8b8cf67c4df697fb9.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/49cf9e586b122fd8b8cf67c4df697fb9.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/49cf9e586b122fd8b8cf67c4df697fb9.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/49cf9e586b122fd8b8cf67c4df697fb9.svg#SF Pro Rounded") format("svg");
}

:root {
    --border: rgba(255, 255, 255, 0.3);

    --g1: rgb(238, 222, 194);
    --g2: rgb(154, 185, 149);
    --g3: rgb(81, 105, 154);

    --hue: 223;
    --bg: hsl(var(--hue), 10%, 85%);
    --fg: hsl(var(--hue), 10%, 5%);
    --trans-dur: 0.3s;
    --g4: rgb(50, 50, 91);
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (2560 - 320));
}


body {
    background-color: #292930;
    background: linear-gradient(
            145deg,
            transparent 0% 20%,
            #262f54 66%,
            var(--g4) 83.5%,
            #292930 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(35, 34, 50);
    transition: background-color var(--trans-dur), color var(--trans-dur);
    color: var(--fg);

    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;


    font-family: "SF Pro Rounded", serif;
    font-feature-settings: "onum" 1;

    /*display: flex;
      flex-direction: column;
      align-items: center;*/
}


h1 {
    font-family: "SF Pro Rounded Semibold", sans-serif;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-top: -1.5em;
    color: #ffffff;
}

h3 {
    font-family: "SF Pro Rounded", sans-serif;;
    color: rgba(255, 255, 255, 0.6);
}

input {
    text-align: center;
    font-family: "SF Pro Rounded", sans-serif;;
    border-width: 1px;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
}


* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box {
    width: 20%;
    text-align: center;
}

.column {
    align-content: center;
    text-align: center;
    padding: 0;

}

input, select, textarea {
    color: #ffffff;
    text-align: left;
    padding-left: -100px;
    width: 10rem;
}

textarea {
    width: 100%;
    min-height: 200px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}


a {
    text-underline-style: none;
    text-decoration: none;
}

.card {
    border-radius: 1rem;
    border: 0.5vmin solid var(--border);
    cursor: pointer;
    position: relative;
    place-items: center stretch;
}

.url-card-pointer {
    cursor: pointer;
}

.upload-button {
    width: 100%;
    height: 100%;
}

.card:hover:before {
    background-position: 100% 100%;
    transform: scale(1.01, 1.01);
}

.card:hover > .card-content {
    background-position: -10% 0;
}

.card:hover > .card-icon {
    color: white;
}

.card:hover > .card-content > .card-subtitle > .card-subtitle-word {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.input-text {
    border: 0.4vmin solid rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    height: 2rem;
    width: 10rem;
    caret-color: white;
    color: #ffffff;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-textarea {
    margin-bottom: 10px;

}

.input-submit-davinci {

}
.input-submit-gpt3 {

}
.input-submit-gpt4 {

}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    height: 60%;
    font-size: 1rem;
}

.input {
    transition: 180ms box-shadow ease-in-out;
}

/*input[type="submit"] {*/
/*    color: #ffffff;*/
/*    border-radius: 2em;*/
/*    cursor: pointer;*/
/*    font-size: 0.8em;*/
/*    transition: background-color 0.4s ease, color 0.4s ease;*/

/*}*/

/*input[type="submit"]:hover {*/
/*    background-color: #fff;*/
/*    color: #000;*/
/*}*/

input[type="file"] {
    width: 100%;
    height: 50%;
    font-size: 1rem;
}

.input {
    /*transition: 180ms box-shadow ease-in-out;*/
    text-align: center;
}

.input:focus {
    border-color: hsl(55, 100%, 66%);
    outline: 3px solid transparent;
    box-shadow: 0 0 0 3px hsla(55, 100%, 66%, 0.8);
}

.submit-input {
    aspect-ratio: 1 / 1;
    border-radius: 0.4em;
    width: 3vmin;
    margin: 0.7rem;
    caret-color: white;
    color: #ffffff;
}

.card:before {
    border-radius: 1rem;
    background: linear-gradient(
            130deg,
            transparent 0% 33%,
            var(--g1) 66%,
            var(--g2) 83.5%,
            var(--g3) 100%
    ) 0 0;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: background-position 350ms ease, transform 350ms ease;
    width: 100%;
    z-index: 1;
}

.card-content-submit-button {
    background-image: radial-gradient(
            rgba(255, 255, 255, 0.2) 8%,
            transparent 8%
    );
    background-position: 0 0;
    background-size: 4vmin 4vmin;
    width: 100%;
    padding: 2vmin;
    position: relative;
    transition: background-position 350ms ease;
    z-index: 2;
    box-shadow: 0 0.75em 2em hsla(0, 10%, 5%, 0.4);
    border-radius: 1em;
    overflow: hidden;
}

.card-content {
    background-image: radial-gradient(
            rgba(255, 255, 255, 0.2) 8%,
            transparent 8%
    );
    background-position: 0 0;
    background-size: 4vmin 4vmin;
    height: 100%;
    width: 100%;
    padding: 2vmin;
    position: relative;
    transition: background-position 350ms ease;
    z-index: 2;
    box-shadow: 0 0.75em 2em hsla(0, 10%, 5%, 0.4);
    border-radius: 1em;
    overflow: hidden;
}

.card-content-altered {
    /*background-image: radial-gradient(*/
    /*        rgba(255, 255, 255, 0.2) 8%,*/
    /*        transparent 8%*/
    /*);*/
    /*background-position: 0 0;*/
    /*background-size: 4vmin 4vmin;*/
    height: 100%;
    width: 100%;
    padding: 5vmin;
    /*position: relative;*/
    /*transition: background-position 350ms ease;*/
    /*z-index: 2;*/
    box-shadow: 0 0.75em 2em hsla(0, 10%, 5%, 0.4);
    border-radius: 1em;
    overflow: hidden;
}

.card-content-altered {
    /*background-image: radial-gradient(*/
    /*        rgba(255, 255, 255, 0.2) 8%,*/
    /*        transparent 8%*/
    /*);*/
    /*background-position: 0 0;*/
    /*background-size: 4vmin 4vmin;*/
    height: 100%;
    width: 100%;
    padding: 5vmin;
    /*position: relative;*/
    /*transition: background-position 350ms ease;*/
    /*z-index: 2;*/
    box-shadow: 0 0.75em 2em hsla(0, 10%, 5%, 0.4);
    border-radius: 1em;
    overflow: hidden;
}

textarea {
    background-color: #292930;
    background: linear-gradient(
            145deg,
            transparent 0% 20%,
            #262f54 66%,
            var(--g4) 83.5%,
            #292930 100%
    );
    box-shadow: 0 0.75em 2em hsla(0, 10%, 5%, 0.4);
    border-radius: 1em;
    overflow: hidden;
}

.card-title {
    color: rgba(255, 255, 255, 0.75);
    font-family: "SF Pro Rounded", sans-serif;
    font-weight: 400;
    margin: 0;
    text-align: left;

}

.card-title {
    font-size: 3vmin;
    transition: color 0.5s ease;
}

.summarized-text-box {
    font-size: 2.5vmin;
    transition: color 0.5s ease;
}

.card-content:hover .card-title {
    color: black;
}

.card-content:hover .card-icon {
    color: black;
}

.card-icon {
    display: inline-block;
    bottom: 0;
    color: rgba(255, 255, 255);
    font-size: 2.6rem;
    left: 0;
    margin-left: 0.45vmin;
    transition: color 0.5s ease;
}


.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "icon text"
    "icon field";
}

.container-pdf {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "icon text"
}


.icon {
    grid-area: icon;
}

.text {
    grid-area: text;
}

.field {
    grid-area: field;
}

.parsnip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parsnip-title {
    margin-top: 12px;
}

.parsnip-subtitle {
    margin-bottom: 12px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.griddy {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    gap: 20px;
    width: 95%;
    height: 72vh;
    align-items: center;
    justify-content: center;
}

.boxy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.a {
    min-width: 0;

    grid-column: 1;
    grid-row: 1;
}

.b {
    min-width: 0;
    grid-column: 2;
    grid-row: 1;
}

.c {
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 100%;
}

.d {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 100%;
}
